@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff2);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.woff2);
}